<mat-paginator [hidden]="true" #paginator [length]="11" [pageSize]="3">
</mat-paginator>

<div class="bootstrap-wrapper">
  <div class="text-center p-5 bg-secondary">
    <h1 style="margin-top: 20px; color: white">Answer All the questions</h1>
  </div>
  <div class="container" *ngIf="questions && questions.length">
    <div class="row">
      <div class="col-12">
        <!--  Question -->

        <div
          class="text-center question-cont border-bottom p-5"
          *ngFor="
            let q of questions
              | slice
                : paginator.pageIndex * paginator.pageSize
                : (paginator.pageIndex + 1) * paginator.pageSize;
            let i = index
          "
          style="margin-top: 20px"
        >
          <div *ngIf="q.question.isOptionAvailable == 0">
            <p>
              <span class="question-label">{{ q.question.name }}</span>
            </p>

            <mat-form-field class="w-100" [ngStyle]="{ maxWidth: '300px' }">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Enter Name" value="" />
            </mat-form-field>
          </div>

          <div *ngIf="q.question.isOptionAvailable == 1">
            <p>
              <span class="question-label">{{ q.question.name }}</span>
            </p>

            <mat-radio-group
              aria-label="Select an option"
              [formControl]="q.control"
              class="py-4 d-inline-block"
            >
              <ng-container *ngFor="let op of q.question.options" class="">
                <mat-radio-button
                  class="radio-label m-3"
                  [name]="'a' + i"
                  [value]="op.id"
                  >{{ op.label }}</mat-radio-button
                >

                <!-- <input  [name]="'a' + i" type="radio" />{{ op.label }} -->
              </ng-container>
            </mat-radio-group>
          </div>

          <div *ngIf="q.question.isOptionAvailable == 2">
            <p>
              <span class="question-label">{{ q.question.name }}</span>
            </p>
            <div class="container-fluid" [ngStyle]="{ maxWidth: '800px' }">
              <div class="row" style="margin-top: 20px">
                <div class="col-md-12">
                  <ng-container *ngFor="let res of q.resHistoryControl">
                    <template
                      *ngTemplateOutlet="
                        resHistoryTemplate;
                        context: {
                          resHistoryControls: q.resHistoryControl,
                          control: res
                        }
                      "
                    >
                    </template>
                  </ng-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 py-3">
                  <button
                    (click)="handleAddResHistoryControl(q.resHistoryControl)"
                    mat-raised-button
                    color="primary"
                  >
                    Add Resolution
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 py-3">
        <button
          *ngIf="paginator.pageIndex > 0"
          mat-raised-button
          color="primary"
          (click)="handlePrev(paginator)"
        >
          Prev
        </button>
      </div>
      <div class="col-6 py-3 text-end">
        <button
          *ngIf="
            paginator.pageIndex < questions.length / paginator.pageSize - 1
          "
          mat-raised-button
          color="primary"
          (click)="handleNext(paginator)"
        >
          Next
        </button>
      </div>

      <div
        class="container text-center"
        style="margin-top: 20px; margin-bottom: 20px"
      >
        <button
          (click)="handleSaveUserDetails()"
          *ngIf="
            paginator.pageIndex >= questions.length / paginator.pageSize - 1
          "
          mat-raised-button
          color="primary"
        >
          I'm ready to view insights
        </button>
      </div>

      <div class="col-md-2">
        <!-- Progress -->
      </div>
    </div>
  </div>
</div>

<ng-template
  let-resHistoryControls="resHistoryControls"
  let-control="control"
  #resHistoryTemplate
>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Resolution</mat-label>
          <mat-select [formControl]="control.resolution">
            <mat-option
              *ngFor="let re of resolutions; let i = index"
              [value]="re.id"
            >
              {{ re.name }} <b>{{ re.family.name }}</b>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" [ngStyle]="{ maxWidth: '300px' }">
          <mat-label>Success %</mat-label>
          <input
            matInput
            [formControl]="control.successRate"
            autofocus
            type="number"
            name="title"
            id=""
            placeholder="Enter here"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-template>
