<div class="bootstrap-wrapper">
  <div class="container">
    <div class="text-center margin-top:100px;">
      <img
        src="../../../assets/banner.jpeg"
        style="max-width: 20%; height: auto; margin-top: 50px"
        alt=""
      />
    </div>
    <div class="row text-center" style="margin-top: 20px">
      <div class="col-md-12">
        <h2>Confused Right about your New Year's Resolution right?</h2>
        <h3>Don't worry, we are here to help you.</h3>
        <h4>
          We will help you in deciding your Resolution and till where you can go
          ahead with it.
        </h4>
        <h4>So why are you waiting Click on the below button to start!!</h4>

        <button [routerLink]="'/questions'" mat-raised-button color="accent">
          Click here to Start
        </button>
      </div>
    </div>
  </div>
</div>
