@use "@angular/material" as mat;

@include mat.core();
/* For use in src/lib/core/theming/_palette.scss */
$md-green: (
  50: #e0f2f1,
  100: #b3e0db,
  200: #80cbc4,
  300: #4db6ac,
  400: #26a69a,
  500: #009688,
  600: #008e80,
  700: #008375,
  800: #00796b,
  900: #006858,
  A100: #97ffec,
  A200: #64ffe3,
  A400: #31ffda,
  A700: #18ffd5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
/* For use in src/lib/core/theming/_palette.scss */
$md-yellow: (
  50: #fffae7,
  100: #fef3c2,
  200: #feec9a,
  300: #fee472,
  400: #fdde53,
  500: #fdd835,
  600: #fdd430,
  700: #fcce28,
  800: #fcc822,
  900: #fcbf16,
  A100: #ffffff,
  A200: #fffdf8,
  A400: #ffeec5,
  A700: #ffe7ac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-primary: mat.define-palette($md-green, 500);
$my-accent: mat.define-palette($md-yellow, 500);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);
$primary: map-get($my-theme, primary);

:root {
  --primary: #009668;
}
// .mat-radio-button .mat-radio-outer-circle {
//   border-color: mat-color($primary) !important;
// }
@include mat.all-component-themes($my-theme);
